<!-- <h1>Welcome Angular Application</h1>
<h1>Welcome: {{name}}</h1>
<h1>Title: {{title}}</h1>
<input type="text" value="{{title}}">
<input type="text" [value]="name">
<button (click)="display()">Click</button> -->
<!-- 
<div>My Place Name: <input type="text" [value]="place"></div>


<button (click)="display()">Click</button>

My Place is: <input type="text" [(ngModel)]="place" >

<div>My Place Name: {{place}}</div> -->

<!-- <app-strdemo></app-strdemo>in this place it will load strdemo.component.html -->

<app-show></app-show>